$bg: #f7f7f7;

html {
  box-sizing: border-box;
}

* {
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  max-width: 600px;
  background: $bg;
  text-align: center;
  margin: 0 auto;
  font-family:  system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  overflow: hidden;
}

html,
body,
#main {
  width: 100%;
  height: 100%;
}
