$bg: #f7f7f7;

html {
  box-sizing: border-box;
}

* {
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  max-width: 800px;
  background: $bg;
  text-align: center;
  margin: 0 auto;
  font-family:  system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  overflow: hidden;
}

html,
body,
#main {
  width: 100%;
  height: 100%;
}

#game {
  background: #232323;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.game-hud {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99999;
}
